body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 20px 0;
}

nav {
  position: absolute;
  top: 50px;
  right: 0;
}

.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #63baab;
  text-decoration: underline;
}

.sobre {
  background-color: #63baab;
  padding: 3em 0;
  width: 940px;
  height: 400px;
  margin: 80px auto;
}

h1 {
  text-align: right;
  margin-right: 20px;
  color: #2f4858;
}

p {
  width: 440px;
  margin-left: 480px;
  text-align: justify;
}

.sobre img {
  width: 420px;
  float: left;
  margin-left: 20px;
}

.redes-sociais h2 {
  text-align: center;
  color: #2f4858;
  text-transform: uppercase;
}

.redes-sociais img {
  width: 5%;
  margin-left: 60px;
  padding: 3px;
}