body{
    background-color: #F5FFFA;
}

/* Cabeçalho */

header {
    padding: 20px 0;
    color: #F5FFFA;
    background-color: #1C1C1C;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.container{
    width: 940px;
    height: 200px;
    position: relative;
    margin:  0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #F5FFFA;
    font-weight: bold;
    font-size: 25;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #00BFFF;;
}

/* Sobre Mim */

.sobreMin {
    height: 250px;
}

.sobreMin h2 {
    font-weight: bold;
    font-size: 25px;
    color: #00BFFF;
    text-align: center;
    padding: 10px 10px;
}

.sobreMin h3 {
    font-weight: bold;
    font-size: 20px;
    color: #1E90FF;
    text-align: center;
    padding: 20px 10px;
}

.sobreMin img{
    float: left;
    padding: 10px;
    margin: 0px 10px 10px 0;
    max-width: 180px;
}

/* Serviços */

.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.servicos li:active {
    border-color: #0b4e91;
}

.servicos h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.servicos li:hover h3 {
    font-size: 34px;
}

.servicos p {
    font-size: 18px;
    margin: 10px 0 0;
    margin-top: 10px;
}